.login-container {
  height: 100vh;
}

.nav {
  /* background-color: rgb(229, 227, 227); */
  height: 10%;
}

.logo {
  width: 7%;
  font-size: 22px;
  /* padding: 10px 10px 10px 10px; */
  font-weight: 700;
  padding: 10px;
}

.categories {
  padding: 0 20px;
  font-weight: 100;
  font-family: sans-serif;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.search-bar {
  margin: 0 20px 0 0;
  border-radius: 50px;
  margin-top: 5px;
  width: 50%;
  padding: 10px;
  border: 1.5px solid rgb(37, 3, 3);
  outline: none;
  padding: 15px;
}

button {
  padding: 15px 22px;
  font-weight: 700;
  cursor: pointer;
  margin-right: 20px;
}

.log-in {
  background-color: white;
  margin-left: 20px;
}

.sign-up {
  background-color: black;
  color: white;
}

.inline {
  display: inline-block;
}

/*  SLIDES */

.slides {
  height: 60%;
  background-color: rgb(229, 227, 227);
  position: relative;
  background: url(./img/e6cc1a30-2dec-4dc5-b0f2-c5b656909d5b.jpg);
  /* background-repeat: no-repeat; */
}

.highlight-1 {
  width: 30%;
  height: 40%;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  font-size: 50px;
  position: absolute;
  left: 50px;
  top: 50px;
}

.sub-data {
  padding: 5px 0;
  font-size: 20px;
}


/* FOOTER  */


.footer {
  height: 30%;
  background-color: rgb(233, 226, 226);
}

.company {
  margin: 20px 0 0 10px;
  background-color: rgb(230, 227, 227);
  width: 28%;
  display: inline-block;
  text-align: center;
  padding: 22px;
  font-size: 22px;
  color: gray;
  border: 2px solid rgb(216, 212, 212);
}

.more-details {
  font-size: 20px;
  text-align: center;
  padding: 12px;
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.footer {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}